body{
    background: #f7f7f7;
}
.header{
   width: 100%;
    height: 0.88rem;
    background: #FC313A;
    padding: 0 20px;
    position: relative;
}
.fanhuijiantou{
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0.3rem;
    color: #fff;
    line-height: 0.3rem;
    float: left;
    line-height: 0.88rem;
}
.header-zi{
	float: left;
	color: #fff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 0.88rem;
	margin-left: 1.8rem;
}
.main{
	width: 100%;
	height: 3.74rem;
	background: #fff;
}
.zhanghao{
	width: 100%;
	height: 0.74rem;
	padding:0 20px;
	position: relative;
}
.tiao{
	width: 7rem;
	height: 0.02rem;
	background: #F3F3F3; 
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.left-tiao{
	width: 0.08rem;
	height: 100%;
	background: #AEAEAE;
	position: absolute;
	left: 0;
	top: 0;
}
.right-tiao{
	width: 0.08rem;
	height: 100%;
	background: #AEAEAE;
	position: absolute;
	right: 0;
	top: 0;
}
.zhanghao-nr{
	width: 100%;
	height: 0.7rem;
}
label{
<<<<<<< HEAD
	padding:0 20px 0 0;
=======
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
	height: 100%;
	font-size: 0.24rem;
	float: left;
	line-height: 0.7rem;
<<<<<<< HEAD
=======
	width: 1.5rem;
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
}

input{
	padding: 0 0 0 5px;
<<<<<<< HEAD
	width: 4rem;
=======
	width: 3rem;
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
	color: #b3b3b3;
	font-size: 0.24rem;
	float: left;
	border: 0;
	line-height: 0.7rem;
	outline: none;
}
<<<<<<< HEAD
.zhanghao-nr .a{
	padding: 0 0 0 30px;
}
.zhanghao-nr .b{
	padding: 0 0 0 15px;
}
=======
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
.yanzhengma{
	width: 1.54rem;
	height: 0.48rem;
	background: #fff;
	border: 1px solid #bbbbbb;
	margin-top: 0.1rem;
<<<<<<< HEAD
	float: left;
=======
	float: right;
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
	border-radius: 5px;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.48rem;
}
.anniu{
	width: 7rem;
	height: 0.7rem;
	margin: auto;
	margin-top: 0.5rem;
	border-radius: 5px;
	background: linear-gradient(to left, #FD7F33, #FD313A); /* 标准的语法 */;
	color: #fff;
	font-size: 0.26rem;
	text-align: center;
	line-height: 0.7rem;
	font-weight: 700;
}
.anniu-zi{
	width: 1.8rem;
	height: 100%;
	margin: auto;
	position: relative;
}
.left-yuan{
	width: 0.12rem;
	height: 0.12rem;
	background: #fd7172;
	border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.right-yuan{
	width: 0.12rem;
	height: 0.12rem;
	background: #fd7172;
	border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.xiao-yuan{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.tip{
    margin-top: 0.2rem;
	font-size: 0.22rem;
	color: #a9a9a9;
	text-align: center;
<<<<<<< HEAD
=======
	font-weight: 700;
>>>>>>> 29c59528ff60e096b2b65692de93da3bd9e7e797
}
