.header{
	width: 100%;
	height: 0.88rem;
	background: #FC313A;
}
.left{
	width: 0.1rem;
	height: 0.1rem;
	float: left;
	font-size: 0.3rem;
	line-height:0.1rem;
	text-align: center;
	color: #fff; 
	padding: 0.4rem 0.3rem;
}
.middle{
	width: 3rem;
	height: 100%;
	float: left;
	font-size: 0.3rem;
	line-height: 0.88rem;
	color: #fff;
	margin-left:2.3rem;
	font-weight: 600;
	/* padding: 0.3rem 2.6rem; */
}
.right{
	width: auto;
	height: 100%;
	float: right;
	font-size: 0.14rem;
	line-height: 100%;
	color: #fff;
	padding: 0.3rem 0.4rem;
}
a{
	color: #fff;
}
.canyin{
	width: 100%;
	height: 0.67rem;
	background: #ccc;
}
.cy-left{
	width: 50%;
	height: 100%;
	background: #F7F7F6;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	line-height: 0.67rem;
}
.cy-right{
	width: 50%;
	height: 100%;
	background: #fff;
	float: left;
	font-size: 0.12rem;
	text-align: center;
	line-height: 0.67rem;
	border-bottom: 0.08rem solid red;
}


.box{
	width: 100%;
	height: 3.65rem;
	background: #F5F5F3;
	border-radius: 0.2rem;
}
.box-bottom{
	width: 7.3rem;
	height: 3.23rem;
	background: #fff;

	margin-top: 0.4rem;
	float: right;
}
.box-pict{
	width: 2.83rem;
	height: 1.37rem;
	/* background: red; */
	float: left;
}
.pict3{
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	float: left;
	margin-top: -0.2rem;
}
.box-baobao{
	width: 1.3rem;
	height: 0.8rem;
	/* background: green; */
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.4rem;
}
.box-baobao span{
	font-size: 0.12rem;
	line-height: 0.8rem;
	float: left;
}
.box-bao1{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin-left: 0.1rem;
	background: url('../img/hly-pic6.png') center center no-repeat;
	background-size: 100%;
	margin-top: 0.3rem;
	margin-left: 0.1rem;
	border-radius: 20%;
}
.box-bao2{
	width: 0.24rem;
	height: 0.24rem;
	float: left;
	margin-left: 0.1rem;
	background: url('../img/hly-pic5.png') center center no-repeat;
	background-size: 100%;
	margin-top: 0.3rem;
	margin-left: 0.1rem;
	border-radius: 20%;
}
.box-next{
	width: 100%;
	height: 1.85rem;
	/* background: orangered; */
	float: left;
}
.box-next p{
	font-size: 0.12rem;
	margin-left: 0.3rem;
}
.box-nexttop{
	width: 100%;
	height: 1.5rem;
	background: #fff;
}
.box-nexttop1{
	width: 100%;
	height: 0.46rem;
	/* background: blue; */
}
.box-nexttop1 .span1{
	width: 0.23rem;
	height: 0.23rem;
	background: url('../img/hly-pic4.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.1rem;
}
.box-nexttop1 .span2{
	font-size: 0.1rem;
	line-height: 0.46rem;
	float: left;
	margin-left: 0.1rem;
}


.box-nexttop2{
	width: 100%;
	height: 0.46rem;
	/* background: blue; */
}
.box-nexttop2 .span1{
	width: 0.23rem;
	height: 0.23rem;
	background: url('../img/hly-pic7.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.1rem;
}
.box-nexttop2 .span2{
	font-size: 0.1rem;
	line-height: 0.46rem;
	float: left;
	margin-left: 0.2rem;
}
.box-nexttop2 .span3{
	font-size: 0.08rem;
	line-height: 0.46rem;
	float: left;
	margin-left: 0.1rem;
	color: #ccc;
	margin-left: 0.2rem;
}

.box-nexttop3{
	width: 100%;
	height: 0.46rem;
	/* background: blue; */
}
.box-nexttop3 .span1{
	width: 0.23rem;
	height: 0.23rem;
	background: url('../img/hly-pic8.png') center center no-repeat;
	background-size: 100%;
	float: left;
	margin-left: 0.2rem;
	margin-top: 0.1rem;
}
.box-nexttop3 .span2{
	font-size: 0.1rem;
	line-height: 0.46rem;
	float: left;
	margin-left: 0.2rem;
}
.box-nexttop3 .span3{
	font-size: 0.08rem;
	line-height: 0.46rem;
	float: left;
	margin-left: 0.1rem;
	color: #ccc;
	margin-left: 0.2rem;
}
.footer{
	width: 7rem;
	height: 0.7rem;
	margin: 0;
	border-radius: 0.2rem;
	background: linear-gradient(to left,#fd7f33,#fd313a);
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.7rem;
	margin-top: 7rem;
	margin-left: 0.24rem;
}
